.todos{

color: #353935;
font-size: 1.4rem;
margin: 0 auto;
font-weight: bold;

}


.todoitem{
    padding: 1rem;

}

.line{
    border:0.15rem solid #f4f4f4;
    width: 95%;
}


.delbutton{
    color: white ;
    background-color: #f7ca18;
    border-radius: 2%;
    border: none;
    float: right;
    padding: 0.5rem 1.3rem ;
    cursor: pointer;
    margin-top: -0.4rem;
    font-size: 1.2rem;
}

.completed{
    text-decoration: line-through;
}